<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate a News Article</title>
  </head>

  <body>
    <header>
      <div class="">Evaluate a News Article with NLP</div>
      <div class="">2021</div>
    </header>

    <main>
      <section>
        <form class="" onsubmit="return Client.handleSubmit(event)">
          <input
            id="url"
            type="text"
            name="input"
            value=""
            placeholder="Enter here a valid news url"
          />
          <input id="btn" type="submit" name="" value="Get result" />
        </form>
      </section>

      <section>
        <strong>News Evaluate Results</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>
        Evaluate a News Article with NLP &copy; Mohammed Mounir Mourad - 2021
      </p>
    </footer>

    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
